:root
{
    --maincolor: rgba(33,33,33);
    --bluecolor: rgba(33, 150, 243, 1);
    --silvercolor: rgba(117, 117, 117);
    --rockcolor: rgb(47, 48, 58);
    --whitecolor: rgba(245,244,250);
    --whitetext: rgba(255, 255, 255, 1);
    --whitesix: rgba(255, 255, 255, 0.6)
}
body
{
    font-family: 'Roboto', sans-serif;
    color: var(--maincolor);
    font-size: 14px;
    line-height:1.5;
    font-weight: 500;
}
.link
{
    color:var(--maincolor);
    text-decoration: none;
}

.link:hover,.link:focus
{
 color: var(--bluecolor);
}
.link1,.link1:focus
{
    color: var(--bluecolor);
 text-decoration: none;
}
.list
{
    list-style-type: none;
}
.list-basment
{
    list-style-type: none;
}
.hero-text
{
    color: var(--whitetext);
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
}
.hero
{
    background-color: var(--rockcolor);
    text-align: center;
}
.hero-button
{
    background-color: var(--bluecolor);
    color: var(--whitetext);
    font-size: 16px;
    cursor:pointer;
    font-weight: 700;
}
.Benefits
{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.12;
}
.team
{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.3;
}

.menu-button
{
    line-height:1.625;
    cursor:pointer;
    background-color: var(--whitecolor);
    border: 0cm; 
    border-radius:4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height:1.5;
    height: 38px;
}
.menu-button:hover,.menu-button:focus
{
    cursor:pointer;
    background-color: var(--bluecolor);
    color :var(--whitecolor);
    border: 0cm; 
    
}
.menu
{
    
    text-align: center;
    list-style-type: none;

}   

.button
{
    font-size: 16px;
}
.paragraph
{
    line-height:1.7;
}
.portfolio
{
    line-height: 2;
}
.emblema
{
    font-weight: 700;
    font-family: 'Raleway';
    text-decoration: none;
    color:var(--maincolor);
    font-size: 26px;
    margin-left: 35px;
}
.emblema:hover
{
    color:var(--maincolor);
}
.web,.web-basment
{
    color:var(--bluecolor);
}

.contacts
{
    color: var(--silvercolor);
    text-decoration: none;
}
.basment
{
    background-color: 	var(--rockcolor);
}
.zagolovok
{
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    line-height: 1.17;
}
.paragraph
{
    font-weight: 400;
    color:var(--silvercolor);
    font-size: 16px;
    line-height: 24px;
}
.adress
{
    color: var(--whitecolor);

}
.contacts:hover,.contacts:focus
{
    color: var(--bluecolor);
}
.contacts-basment:hover,.contacts-basment:focus
{
    color:var(--bluecolor);
}
.contacts-basment
{
    color: var(--whitesix);
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
}
.emblema-basment
{
    font-weight: bold;
    font-family: 'Raleway';
    text-decoration: none;
    color:var(--whitetext);
    font-size: 26px;
<<<<<<< Updated upstream
    margin-left:40px;
=======
    margin-left: 35px;
>>>>>>> Stashed changes
}
.emblema-basment:hover
{
    color:var(--whitetext);
}

.our-team
{

    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.17;
}
.letter
{
    font-style: normal;
}
.projects
{
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
}
.street
{
    color: var(--whitetext);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    font-weight: 400;
}
.position
{
    font-weight: 400;
    color:var(--silvercolor);
    font-size: 16px;
    line-height: 1.17px;
}